.gradle
/.idea
*.iml
build
local.properties
/reports
gen
generated
lib
.sqldelight
out
sqldelight-gradle-plugin/src/test/*/gradle
sqldelight-gradle-plugin/src/test/*/gradle.properties
sqldelight-gradle-plugin/src/test/integration-android-library/src/

xcuserdata
Pods
iosApp.xcworkspace

# Mkdocs
site/
docs/1.x
docs/changelog.md
docs/upgrading.md
docs/contributing.md
