* text eol=lf

*.bat           text eol=crlf

*.css           diff=css
*.htm           diff=html
*.html          diff=html
*.md            diff=markdown

*.jar           binary
*.png           binary
*.gif           binary
*.otf           binary
*.eot           binary
*.ttf           binary
*.woff          binary
*.woff2         binary
*.ico           binary
*.a             binary

# GitHub syntax highligthing 
*.sq            linguist-language=SQL
*.sqm           linguist-language=SQL
